#navigation-menu {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 14.125rem;
  height: max-content;

  background-color: var(--white);

  padding: 1rem 0 8px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);

  box-shadow: 0 0.25rem 0.25rem var(--shadow-text);

  strong {
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--shadow-text);

    font: var(--text-sm);
    font-weight: 500;
    color: var(--placeholder);

    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 1.25rem;
      width: 1.25rem;
      display: none;

      fill: var(--text);
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    overflow: hidden;
    border-radius: 0 0 8px 8px;

    .nav-button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      padding: 0.75rem 1rem;
      border: 1px solid transparent;
      cursor: pointer;
      background-color: var(--white);

      transition-property: background-color, border-color;
      transition-duration: var(--transition);
      transition-timing-function: ease-in-out;

      &.selected {
        background-color: var(--blue);

        p {
          color: var(--white);
        }

        svg {
          fill: var(--white);
        }

        &:hover {
          background-color: #2da8ff;
        }

        &:active {
          background-color: #2da8ff;
          border-color: #fff;
        }
      }

      &:hover {
        background-color: #48698020;
      }

      &:active {
        background-color: #48698030;
        border-color: #48698040;
      }

      svg {
        height: 1.5rem;
        margin-right: 1rem;

        fill: var(--placeholder);
        color: var(--placeholder);
      }

      p {
        font: var(--text-sm);
        color: var(--text);
        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: 1rem;
    padding: 0;

    strong {
      margin-bottom: 0;
      border-bottom: none;
      padding: 1rem;

      user-select: none;
      font: var(--text-md);
      font-weight: 600;
      color: var(--text);
      cursor: pointer;

      svg {
        display: block;
      }

      &.open {
        border-bottom: 1px solid var(--shadow-text);
        margin-bottom: 0.5rem;

        svg {
          transform: rotateZ(180deg);
        }
      }
    }

    .links {
      display: none;
      padding-bottom: 8px;

      &.open {
        display: flex;
      }
    }
  }
}
