#profile > .container {
  grid-template-columns: 1fr 3fr;

  #profile-file {
    display: none;
  }

  .right .button-2fa {
    padding: 0.75rem 2rem;
    font: var(--text-sm);
    font-weight: 500;
    background-color: var(--green);

    width: max-content;
  }
}
