* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

html {
  min-width: 320px;

  max-width: 1920px;

  margin: 0 auto;

  scrollbar-width: thin;
  scrollbar-color: var(--blue) var(--light-gray);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--blue);
  }
  &::-webkit-scrollbar-track {
    background: var(--light-gray);
  }
}
