.window {
  width: 100%;
  min-height: calc(100 * var(--unit) - 46px - 36px);
  max-height: calc(100 * var(--unit) - 46px - 36px);

  position: absolute;
  top: calc(36px + 36px);
  left: 0;

  display: grid;
  grid-template-columns: 1fr 54px;
  background-color: var(--white);

  padding: 1rem;

  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: var(--blue) var(--light-gray);

  &.active {
    z-index: 200;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--blue);
  }
  &::-webkit-scrollbar-track {
    background: var(--light-gray);
  }

  .extra {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    position: relative;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 8px;
      cursor: pointer;
      padding: 0.25rem;

      &:hover {
        background-color: var(--shadow-text);
      }
      &:active {
        border-color: var(--gray);
      }

      svg {
        height: 1.75rem;
        fill: var(--text);
      }
    }

    .content {
      position: absolute;
      top: 2.5rem;
      z-index: 200;

      padding: 1rem;
      min-width: 16rem;
      min-height: 16rem;
      max-height: 24rem;

      white-space: pre-wrap;

      overflow: auto;

      background-color: var(--white);
      border: 1px solid var(--light-gray);
      border-radius: 8px;
      box-shadow: 0 0.25rem 0.25rem var(--shadow-text);

      font: var(--text-sm);
      color: var(--text);

      scrollbar-width: thin;
      scrollbar-color: var(--blue) var(--light-gray);

      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--blue);
      }
      &::-webkit-scrollbar-track {
        background: var(--light-gray);
      }
    }
  }

  .copy {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font: var(--text-sm);
    color: var(--light);
    opacity: 0.9;
    text-align: center;

    padding: 0 1rem;

    margin-bottom: 2rem;
  }

  @media screen and (max-width: 540px) {
    grid-template-columns: 1fr;

    .form {
      padding-left: 0;

      h1 {
        width: 100%;
        padding-right: 3rem;
      }
    }

    .extra {
      grid-row: 1;
      right: 1rem;

      position: absolute;
    }
  }
}
